@font-face {
	font-family: 'Liip Etica Bd';
	src: url('LFT_Etica_Bold_Liip.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Liip Etica Bk';
	src: url('LFT_Etica_Book_Liip.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Liip Etica';
	src: url('LFT_Etica_Semibold_Liip') format('woff');
	font-weight: normal;
	font-style: normal;
}
